header{
    text-align: center;
}
:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
body{
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(115deg,rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    background: var(--color-darkblue-alpha);
    margin: auto;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 8px;
    padding-bottom: 40px;
}
span{
    font-size: 0.8rem;
    color: #e4e4e4;
}
input,select{
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: 6px;
    padding-left: auto;
    padding-right: auto;
    border: none;
}
input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
fieldset:last-of-type {
    border-bottom: none;
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

label{
    display: block;
    margin: 3vw;
}
select{
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    padding: 6px;
}
textarea{
    margin-top: 6px;
    width: 100%;
}
.inline{
    display: unset;
    width: 3rem;
    margin: unset;
}
.label{
    margin: unset;
}
.labels{
    margin-bottom: 6px;
}
fieldset{
    border: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}
input[type="submit"]{
    width: 87%;
    margin-left: 1.8rem;
    margin-top: 8px;
    padding: 8px;
    font-size: 12px;
    color: white;
    background: var(--color-green);
    border: 0;
    border-radius: 2px;
}
input[type="submit"]:hover{
    cursor: pointer;
}
